<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>OSS web direct upload</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

<h2>OSS web direct upload---Signing in php on the server side, OSS will call back the callback url set by the user when
    the file is uploaded successfully</h2>
<ol>
    <li>Based on plupload package</li>
    <li>Support html5,flash,silverlight,html4 and other protocols for uploading</li>
    <li>Can run on PC browser, mobile browser, WeChat</li>
    <li>Signature is done on the server (php), safe and reliable, recommended!</li>
    <li>Show upload progress bar</li>
    <li>You can control the size of the uploaded file and allow the type of the uploaded file. In this example, only
        jpg, png, gif endings and zip, rar files can be uploaded, and the maximum size is 10M
    </li>
    <li>The most important thing is that you can transplant it to your system within 10 minutes and realize the above
        awesome functions!
    </li>
    <li>Note: the bucket must be set with Cors (Post tick), otherwise there is no way to upload</li>
    <li>Note: This example is uploaded to the user-dir directory by default. The setting of this directory is in
        php/get.php, $dir variable!
    </li>
    <li>Note: Change the callbackUrl variable in php/get.php to your own url</li>
    <li>Note: the success returned here is that the OSS has called back the application server, and the application
        service has returned 200!
    </li>
    <li><a href="https://help.aliyun.com/document_detail/oss/practice/pc_web_upload/js_php_callback.html">Click to view
        detailed document</a></li>
</ol>
<br>
<form name=theform>
    <input type="radio" name="myradio" value="local_name" checked=true/> upload file name keeps local file name
    <input type="radio" name="myradio" value="random_name"/> The upload file name is a random file name, the suffix is
    ​​reserved
</form>

<h4>List of files you have selected:</h4>
<div id="ossfile">Your browser does not support flash, Silverlight or HTML5!</div>

<br/>


<div id="container">
    <a id="selectfiles" href="javascript:void(0);" class='btn'>Select files</a>
    <a id="postfiles" href="javascript:void(0);" class='btn'>Start uploading</a>
</div>

<pre id="console"></pre>

<p>&nbsp;</p>

</body>
<script type="text/javascript" src="/static/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/static/js/upload.js"></script>
</html>